        <footer id="footer">
            <p class="footer-align">© 2026 Son Hyeon A </p>

            <!-- 다크 모드 버튼 -->
            <div id="dark-mode">
                <button type="button" id="dark-mode-btn" class="mode-btn dark-mode-btn">dark</button>
            </div>

            <!--위로 가기 버튼-->
            <div id="to-top">
                <a href="#" class="mode-btn go-top-btn">top</a>
            </div>
        </footer>
                
        <script src="./js/common.js"></script>

    </body>
</html>
