<div class="top-section">
    <img src="./images/my_intro_background.png" alt="프로필배경" id="my_intro_background">
    <h2 id="top-title">열심히 하자 🤍</h2>
    
</div>

<section id="nav-bar">
    <nav>
        <a href="index.html" class="nav-btn">profile</a>
        <a href="schedule.html" class="nav-btn">schedule</a>
        <a href="travel.html" class="nav-btn">travel</a>
        <button type="button" class="btn-submit" id="go-login" onclick="location='login.html';" >Login</button>
        <button type="button" class="btn-submit" id="go-signup" onclick="location='signup.html';" >Signup</button>
    </nav>
</section>